@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.title {
  text-align: center;
  margin: 0 20%;
  font-weight: bold;
  margin-top: 5%;
}

.calculator-body {
  height: 300px;
  width: 300px;
  border: 3px solid black;

  background: rgba(200, 200, 200, 0.7);
  margin: auto;
}

.results {
  width: 100%;
  background: lightgreen;
  height: 50px;
  border: 2px solid black;

  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

table {
  width: 40%;
  height: 80%;
  margin: 5% 20%;
}

button {
  padding: 15px;
  font-weight: bold;
}

.btn-calculate {
  /* Aqui é sobre a posição dele na página */
  width: 200px;
  position: relative;
  margin: 1% 45% 0;

  /* Aqui é pra deixar ele bonito */
  border-radius: 10px;
  color: #fff;
  background: green;
  transition: 500ms;
}

.btn-calculate:hover {
  background: rgb(10, 200, 10);
}

footer {
  text-align: center;
  margin-top: 2%;
}

footer span {
  font-size: 1.1rem;
}
