@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.title {
  text-align: center;
  margin: 0 20%;
  font-weight: bold;
  margin-top: 5%;
  font-size: 22px;
}

.calculator-body {
  height: 300px;
  width: 300px;
  border: 3px solid black;

  background: rgba(200, 200, 200, 0.7);
  margin: auto;
}

.results {
  width: 100%;
  background: lightgreen;
  height: 50px;
  border: 2px solid black;

  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

table {
  width: 40%;
  height: 80%;
  margin: 5% 15%;
}

button {
  padding: 15px;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 2%;
}

footer span {
  font-size: 1.1rem;
}
